@use "sass:color";
@import "../../../assets/styles/variables";
@import "../../../assets/styles/common";

@function color-darken($color) {
  @return color.adjust($color, $lightness: -10%);
}

.button {
  cursor: pointer;

  @include border-radius;

  &.size-small {
    padding: 0.2rem;
  }

  &.size-default {
    padding: 1rem;
  }

  &.size-large {
    padding: 2rem;
  }

  &.color-primary {
    background-color: $color-primary;
    color: $text-when-bg-color-primary;
    border: 2px outset color-darken($color-primary);

    &:hover {
      background-color: color-darken($color-primary);
    }
  }

  &.color-secondary {
    background-color: $color-secondary;
    border: 2px outset color-darken($color-secondary);

    &:hover {
      background-color: color-darken($color-secondary);
    }
  }

  &.color-default {
    background-color: white;
    border: 2px outset color-darken(white);

    &:hover {
      background-color: color-darken(white);
    }
  }
}