.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .profile-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .profile-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}