@import "../form-common";

.radio-wrapper {
  @include wrapper;

  justify-content: space-between;

  .label {
    @include label;
  }

  .options {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    input {
      cursor: pointer;
    }
  }
}