@import "../../../assets/styles/common";

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  margin: 1rem 0;

  @include border-radius;
  @include box-shadow;

  .divider {
    border-bottom: lightgray 1px solid;
    margin: 0.5rem 0;
  }
}